/*

Article
-------

*/


.article-related {
    margin: 0 (-$line) $line;
    padding: $line;
    font-style: italic;
    color: $bg;
    color: transparentize($bg, 0.2);
    background: $primary;
    background: url('../images/bg-polygons.svg') no-repeat 0 100%,
                linear-gradient(to right, $primary-dark, $accent-dark);
    a {
        @extend a.wob;
        @extend .title;
        font-style: normal;
    }
}

p.article-reference {  // specificity over p:last-child rule
    margin-bottom: $line;
}
.article-reference a {
    display: inline-block;
    margin-right: 1em;
}


// get article images out of the way due to messy media queries
@media #{$max-s} {
    .article-image {
        max-height: 50vh;
        overflow: hidden;
    }
}
@media #{$min-s} and #{$max-l} {
    .article-image {
        max-width: 40%;
        float: left;
        margin: $line*2 $line $line/2 $line*2;
    }
}
@media #{$min-s} and #{$max-m} {
    .article-image {
        margin-left: $line;
        margin-top: $line;
    }
}
@media #{$max-l} {
    .article-image {
        &__positioner {
            transform: none !important;
        }
    }
}


@media #{$min-m} {
    .article-related {
        margin: $line (-$line*2);
        padding: $line $line*2;
    }

    .article-reference a {
        margin-right: 2em;
    }
}


@media #{$min-l} {
    .article-image {
        width: 35%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        overflow: hidden;
        background: $photo-bg;
        &__positioner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        &__image {
            display: block;
            min-height: 100%;
            max-width: none;
            min-width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .article-body {
        margin-left: 35%;
        padding-left: $line*2;
        p, li {
            max-width: $page-width;
        }
    }
}


@media #{$min-w} {
    .article-body figure {
        max-width: 60%;
        float: right;
        margin-left: $line;
    }
}
