# later ref for server setup
setup.txt

# sass caches #
.sass-cache

# static cruft #
_static-build/
app/static/assets/
app/static/style/*.css*
app/static/uploads/*.png
app/static/uploads/*.jpg
app/static/uploads/*.jpeg

# python #
__pycache__/
ve/

# os crud #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
