# later ref for server setup
setup.txt

# sass caches #
.sass-cache

# static cruft #
_static-build/
app/static/assets/
**/*.css.map

# python #
__pycache__/
ve/

# certs #
certbot-auto

# os crud #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
