# sass caches #
.sass-cache

# static cruft #
_static-build/assets/
_static-build/style/
app/static/assets/
app/static/style/

# python #
__pycache__/
ve/

# os crud #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
