/*

Article
-------

*/


.article-related, .article-contents {
    margin: 0 (-$line) $line;
    padding: $line;
    font-style: italic;
    color: $bg;
    color: transparentize($bg, 0.2);
    background: $primary;
    background: url('../images/bg-polygons.svg') no-repeat 0 100%,
                linear-gradient(to right, $primary-dark, $accent-dark);
    a {
        @extend a.wob;
        @extend .title;
        font-style: normal;
    }
}
.article-related {
    margin-top: $line*2;
    &:last-child {
        margin-bottom: 0;
    }
    &__back {
        display: inline-block;
        vertical-align: middle;
        width: 9px;
        margin-right: 10px;
    }
}
.article-contents {
    &__label {
        display: inline-block;
        margin-right: 0.4em;
    }
}

.article-reference a {
    display: inline-block;
    margin-right: 1em;
    line-height: $line;
}

.article-color {
    .color-bar__marker:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-top-color: transparentize($bg, 0.3);
        border-bottom-width: 0;
        position: absolute;
        bottom: 100%;
        left: -6px;
        margin-bottom: 5px;
        transform: scaleX(0.7);
    }
}

.article-date {
    margin-bottom: $line*3/4;
    font-size: $milli;
    font-style: italic;
    opacity: 0.55;
}

.article-rating {
    height: 0;
    overflow: hidden;
}

// avoid jumbled look to lists
.article-body, .admin-write__preview {
    li:not(:last-child) {
        margin-bottom: $line/2;
    }
}


@media #{$max-m} {
    .article-image, .article-color {
        &:not(.is-active) {
            display: none;
        }
    }
    p.article-reference {
        margin-bottom: $line/4;  // visual center
    }
}


@media #{$min-m} {
    .article-body, .admin-write__preview {
        line-height: $line*1.25;
    }
    .article-related, .article-contents {
        margin: $line*2 (-$line*2) $line;
        padding: $line $line*2;
    }
    .article-related {
        p + p {
            margin-top: -$line/2;
        }
        &__back {
            margin-left: -22px;
        }
    }
    .article-contents {
        margin-top: -$line;
        margin-bottom: $line*1.5;
    }

    .article-reference a {
        margin-right: 2em;
    }
}


@media #{$max-l} {
    .article-image {
        padding: 0 $line $line;
        &__positioner {
            transform: none !important;
        }
        &__image {
            display: block;
            max-height: $line*20;
            max-height: 45vh;
            margin: $line*2 auto 0;
        }
    }
}


@media #{$min-m} and #{$max-l} {
    .article-image {
        padding: 0 $line*2;
        max-width: 46%;
        float: left;
        &__image {
            max-height: 75vh;
        }
    }
}


@media #{$min-l} {
    .article-image {
        width: 35%;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        overflow: hidden;
        background: $photo-bg;
        &__positioner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
        &__image {
            display: block;
            min-height: 100%;
            max-width: none;
            min-width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .article-body {
        margin-left: 35%;
        padding-left: $line*2;
        p, li {
            max-width: $page-width;
        }
    }

    .article-color {
        width: auto;
        margin-bottom: -$line/2;
        margin-left: 35%;
    }
}


@media #{$min-w} {
    .article-body figure, .admin-write__preview figure {
        max-width: 60%;
        float: right;
        margin-left: $line;
    }
}
