/*

Body
----

Sets the stage for the main content areas of the site

*/

body {
    width: 100%;
    background-color: $bg;
    overflow-x: hidden;
}

.content {
    padding: $line;
}
.page-bound {
    max-width: $page-width;
    margin-left: auto;
    margin-right: auto;
}

.browser-message {
    padding: $line/2 $line;
    margin: 0;
    text-align: center;
    background: $bg;
    border-bottom: 2px solid $primary;
    position: relative;
    z-index: 50;
}


@media #{$min-m} {
    body {
        background: $bg url('../images/bg-barrels.jpg') no-repeat 50% 0;
    }
    .content {
        padding: $line*2;
    }
}
