/*

Footer
------

The global page footer

*/


.page-footer {
    padding: $line;
    text-align: center;
    font-size: $milli;
    color: transparentize($copy, 0.3);
    font-style: italic;
    position: relative;
    &:before {
        content: '';
        display: block;
        height: 4px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to right, $gradient-2, $gradient-3);
    }
}


@media #{$min-l} {
    .page-footer--article {
        margin-left: 35%;
        padding-left: $line*2;
        text-align: left;
        .page-bound {
            margin: 0;
        }
    }
}
