/*

Home
----

Not much here

*/


.home-more-title {
    margin-top: $line/2;
    font-weight: 400;
    opacity: 0.8;
}


@media #{$min-l} {
    .home-more-title {
        margin: -$line/2 0 $line*1.5;
        text-align: center;
        opacity: 0.6;
    }
}
