/*

Home
----

Not much here

*/


.home-more-title {
    @extend .copy;
    margin-top: $line/2;
    font-size: $kilo;
    font-weight: 400;
    font-style: italic;
    opacity: 0.8;
}

.home-posts .grid__unit {
    padding-bottom: 0;
}


@media #{$max-m} {
    .home-image {
        display: none;
    }
}


@media #{$min-m} {
    .home-image {
        width: 110%;
        height: $line*23;
        position: absolute;
        left: -5%;  // cut off edges to hide blur edge errors
        top: 0;
        background: #000;
        overflow: hidden;
        z-index: 0;
        &__image {
            display: block;
            width: 100%;
            opacity: 0.75;
            filter: blur(8px);
            .csstransforms & {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .home-more-title {
        margin-top: $line*6.5;
        color: $copy;
        // text-shadow: 0 1px 2px rgba(0,0,0,0.3);
        opacity: 1;
        position: relative;
        z-index: 2;
    }
}


@media #{$min-l} {
    .home-image {
        height: $line*25;
    }
    .home-more-title {
        margin: $line*8.5 0 $line;
        text-align: center;
    }
}


@media #{$max-w} {
    .post-list.home-posts {
        max-width: $page-width;
        margin-left: auto;
        margin-right: auto;
        .post-list__item {
            padding-right: 0;
        }
    }
}


@media #{$min-w} {
    .home-image {
        height: $line*30;
    }
    .home-more-title {
        margin-top: $line*10.5;
    }
}
