/*

Search Pages
------------

*/


.search-layout {
    @extend .group;
}
.search-refine {
    padding: $line;
    // background: $primary-darker;
    // background: url('../images/bg-polygons.svg') no-repeat 0 100%,
    //             linear-gradient(to bottom, $primary-darker, $accent-darker);
    // background-size: auto 400%, auto;
    a {
        @extend a.bow;
        box-shadow: none
    }
    &__facet {
        &__title {
            margin-bottom: 0;
        }
        &__list {
            list-style: none;
            margin-left: 0;
        }
        &__item {
            @extend .title;
            padding-left: $line/2;
            text-indent: -$line/2;
            &.is-current {
                // color: $primary;
                list-style: disc;
            }
            a {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    width: 8px;
                    height: 8px;
                    background: transparent url('../images/icon-plus.png') no-repeat 50% 50%;
                    background-size: 8px;
                    position: absolute;
                    left: -16px;
                    top: $line/2 - 4px;
                    z-index: -1;
                    opacity: 0;
                    // pointer-events: none;
                    transition: all 0.2s ease-out;
                }
                &:hover:after {
                    opacity: 0.8;
                    z-index: 1;
                }
            }
        }
    }
    &__toggle {
        @extend .title;
        display: block;
        width: 100%;
        padding: $line/2 $line;
        text-align: left;
        color: $bg;
        background: $primary-dark;
        background: url('../images/bg-polygons.svg') no-repeat 0 100%,
                    linear-gradient(to right, $primary-dark, $accent-dark);
        &__arrow {
            display: inline-block;
            vertical-align: middle;
            max-height: 13px;
            margin-left: $line/2;
            transition: all 0.2s ease-out;
        }
        &.is-active &__arrow {
            transform: rotate(90deg);
        }
    }
    .form-label {
        margin-bottom: 0;
    }
}

.search-current-filters {
    padding: $line $line 0;
    line-height: $line*1.5;
    color: transparentize($copy, 0.2);
    &__none {
        margin: $line;
        font-style: italic;
        opacity: 0.6;
    }
    &__close {
        @extend .title;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background: transparent url('../images/icon-x.png') no-repeat 50% 50%;
            background-size: 8px;
            position: absolute;
            left: 50%;
            margin-left: -4px;
            top: -12px;
            z-index: -1;
            opacity: 0;
            // pointer-events: none;
            transition: all 0.2s ease-out;
        }
        &:hover:after {
            opacity: 0.8;
            z-index: 1;
        }
    }
    &__nudge {
        // remove whitespace between filters and period in order to keep
        // if blocks somewhat tidier
        display: inline-block;
        vertical-align: baseline;
        margin-left: -0.2em;
    }
}


@media #{$min-m} {
    .search-refine {
        padding: $line*2;
        &__toggle {
            padding-left: $line*2;
        }
    }
    .search-current-filters {
        padding: $line $line*2 0;
        text-align: center;
        &__none {
            margin: $line*1.5 $line*2;
            text-align: center;
        }
    }
}


@media #{$max-l} {
    .search-refine:not(.is-active) {
        display: none;
    }
}


@media #{$min-l} {
    .search-layout {
        max-width: $page-width*4/3;
        padding: 0 $line*2;
        margin: 0 auto;
    }
    .search-refine {
        width: 25%;
        padding: 0 $line $line*2 0;
        float: left;
    }
    .search-content {
        width: 75%;
        padding: 0 0 $line*2;
        float: right;
    }

    .search-refine {
        &__toggle {
            display: none;
        }
    }

    .search-current-filters {
        padding: $line*1.25 $line*2 $line/4;
    }
}


@media (min-width: $page-width*2) {
    .search-layout {
        padding: 0;
        position: relative;
        left: -$page-width/6;
    }
}
