/*

Admin
-----

*/


.admin-list {
    list-style: none;
    margin: 0 0 $line*2;
    &__item {
        position: relative;
        padding-right: $line;
    }
    &__item + &__item {
        margin-top: $line*3/4;
        padding-top: $line*3/4;
        border-top: 1px solid darken($bg, 15%);
    }
    &__title {
        margin-bottom: 0;
        a {
            display: block;
            &:hover {
                color: $accent;
            }
        }
    }
    &__published {
        font-size: $milli;
        font-weight: 700;
        color: darken($accent, 10%);
        &--unpublished {
            font-weight: 400;
            color: $copy;
            opacity: 0.6;
            font-style: italic;
        }
    }
    &__written {
        font-size: $milli;
        opacity: 0.9;
    }
    &__description {
        margin: 0;
        font-size: $milli;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__remove {
        padding: 4px;
        position: absolute;
        right: 0;
        top: 50%;
        opacity: 0.3;
        &:hover {
            opacity: 0.5;
        }
        &.is-primed {
            opacity: 1;
            background: #f00;
        }
        img {
            display: block;
            width: 12px;
        }
    }
    &__item:first-child &__remove {
        margin-top: -$line*3/8;
    }
}

.admin-write {
    @extend .group;
    &__top-save {
        float: right;
    }
    &__bottom-save {
        width: 100%;
    }
    &__textarea {
        min-height: $line*10;
    }
    &__preview {
        padding: $line/2;
        margin-bottom: $line;
        background: darken($bg, 2%);
        background-image: repeating-linear-gradient(-45deg, transparent 0, transparent 20px, darken($bg, 3%) 20px, darken($bg, 3%) 40px);
    }
}


@media (max-width: $page-width*2 - 1px) {
    .admin-write {
        &__textarea {
            min-height: $line*12 !important;
        }
    }
}


@media (min-width: $page-width*2) {
    .admin-write {
        width: $page-width*2;
        position: relative;
        left: -$page-width/2;
        &__label {
            width: 50%;
            float: left;
        }
        &__preview {
            width: 50%;
            min-height: $line*12;
            float: right;
            padding-left: $line;
            padding-right: $line;
            margin-top: $line;
        }
    }
}
