/*

Forms
-----

*/


.form-label {
    display: block;
    margin-bottom: $line;
    &:last-child {
        margin-bottom: 0;
    }
    &__text {
        @extend .title;
        display: block;
        color: $gray-light;
        input[type='checkbox'] + & {
            display: inline-block;
        }
    }
    &__help {
        margin-bottom: 0;
        font-style: italic;
        font-size: $milli;
        opacity: 0.6;
    }
}

input[type="text"], input[type="password"], input[type="number"], select, textarea {
    display: block;
    width: 100%;
    padding: $line/4 $line/2;
    background: $bg;
    border: 1px solid $gray-light;
    &:focus {
        border-color: $primary;
    }
}

textarea {
    @extend .copy;
    min-height: $line*5;
    font-size: $text;
    line-height: $line;
    padding: $line/2;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}

// these styles need to be declared separately, else the browser rejects the entire declaration
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: $line;
  height: $line/2;
  border: none;
  border-radius: 0;
  background: $gray-mid;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
  margin-top: -$line/4;
}
input[type="range"]:focus::-webkit-slider-thumb {
  background: $primary;
}
input[type="range"]::-moz-range-thumb {
  width: $line;
  height: $line/2;
  border: none;
  border-radius: 0;
  background: $gray-mid;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(0,0,0,0.3);
}
input[type="range"]:focus::-moz-range-thumb {
  background: $primary;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: darken($bg, 10%);
  border: none;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $primary;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: darken($bg, 10%);
  border: none;
  box-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
input[type="range"]:focus::-moz-range-track {
  background: $primary;
}
