/*

Grid
----

A handy utility ltr grid

*/

.grid {
  display: block;
  padding: 0;
  margin-right: -$line;
  margin-left: 0;
  list-style: none;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  text-align: center;
  &--compact {
    margin-right: -$line/2;
  }
}

.grid__unit {
  display: inline-block;
  width: 100%;
  padding: 0 $line $line 0;
  margin: 0;
  vertical-align: top;
  letter-spacing: normal;
  text-rendering: auto;
  text-align: left;
  .grid--compact > & {
    padding: 0 $line/2 $line/2 0;
  }
}

.grid__unit--1-2 { width: 50%; }

.grid__unit--1-3 { width: 33.33%; }
.grid__unit--2-3 { width: 66.66%; }

.grid__unit--1-4 { width: 25%; }
.grid__unit--3-4 { width: 75%; }

.grid__unit--1-5 { width: 20%; }
.grid__unit--2-5 { width: 40%; }
.grid__unit--3-5 { width: 60%; }
.grid__unit--4-5 { width: 80%; }


@media #{$min-s} {
  .grid__unit--1-2-s { width: 50%; }

  .grid__unit--1-3-s { width: 33.33%; }
  .grid__unit--2-3-s { width: 66.66%; }

  .grid__unit--1-4-s { width: 25%; }
  .grid__unit--3-4-s { width: 75%; }

  .grid__unit--1-5-s { width: 20%; }
  .grid__unit--2-5-s { width: 40%; }
  .grid__unit--3-5-s { width: 60%; }
  .grid__unit--4-5-s { width: 80%; }
}

@media #{$min-m} {
  .grid {
    margin-right: -$line*2;
    &--compact {
      margin-right: -$line;
    }
  }

  .grid__unit {
    padding: 0 $line*2 $line*2 0;
    .grid--compact > & {
      padding: 0 $line $line 0;
    }
  }

  .grid__unit--1-1-m { width: 100%; }

  .grid__unit--1-2-m { width: 50%; }

  .grid__unit--1-3-m { width: 33.33%; }
  .grid__unit--2-3-m { width: 66.66%; }

  .grid__unit--1-4-m { width: 25%; }
  .grid__unit--3-4-m { width: 75%; }

  .grid__unit--1-5-m { width: 20%; }
  .grid__unit--2-5-m { width: 40%; }
  .grid__unit--3-5-m { width: 60%; }
  .grid__unit--4-5-m { width: 80%; }
}

@media #{$min-l} {
  .grid__unit--1-1-l { width: 100%; }

  .grid__unit--1-2-l { width: 50%; }

  .grid__unit--1-3-l { width: 33.33%; }
  .grid__unit--2-3-l { width: 66.66%; }

  .grid__unit--1-4-l { width: 25%; }
  .grid__unit--3-4-l { width: 75%; }

  .grid__unit--1-5-l { width: 20%; }
  .grid__unit--2-5-l { width: 40%; }
  .grid__unit--3-5-l { width: 60%; }
  .grid__unit--4-5-l { width: 80%; }
}

@media #{$min-w} {
  .grid__unit--1-1-w { width: 100%; }

  .grid__unit--1-2-w { width: 50%; }

  .grid__unit--1-3-w { width: 33.33%; }
  .grid__unit--2-3-w { width: 66.66%; }

  .grid__unit--1-4-w { width: 25%; }
  .grid__unit--3-4-w { width: 75%; }

  .grid__unit--1-5-w { width: 20%; }
  .grid__unit--2-5-w { width: 40%; }
  .grid__unit--3-5-w { width: 60%; }
  .grid__unit--4-5-w { width: 80%; }
}
