{% extends "admin_base.html" %}

{% block body %}
    <section role="main">
        <div class="content">
            <div class="page-bound">

                <ul>
                    {% for origin in origins %}
                        <li><p>
                            <a href="/admin/origin/{{ origin.id }}">{{ origin.name }}</a>
                            <a href="/admin/remove/origin/{{ origin.id }}">(delete)</a>
                        </p></li>
                    {% else %}
                        <li><p>No origins added yet. <a href="{{ url_for('admin_new_origin') }}">Add one</a>.</p></li>
                    {% endfor %}
                </ul>

                <p><a href="{{ url_for('admin_new_origin') }}">Add new</a></p>

            </div>
        </div>
    </section>
{% endblock %}