{% extends "admin_base.html" %}

{% block body %}
    <section role="main">

        <header class="title-bar title-bar--admin">
            {% if origin %}
                <h1 class="title-bar__title">Origin {{ origin.id }}: {{ origin.name }}</h1>
            {% else %}
                <h1 class="title-bar__title">New Origin</h1>
            {% endif %}
        </header>

        <div class="content">
            <form action="{{ url_for('admin_save_origin') }}" method="POST" class="page-bound">
                {% if origin %}
                    <input type="hidden" name="id" value="{{ origin.id }}" />
                {% else %}
                    <input type="hidden" name="id" value="0" />
                {% endif %}

                <label class="form-label">
                    <span class="form-label__text">Name</span>
                    <input type="text" name="name" value="{{ origin.name }}" tabindex="1" />
                </label>

                <button class="button" type="submit" tabindex="1">Save</button>
            </form>
        </div>
    </section>
{% endblock %}