{% extends "base.html" %}

{% block title %}{{ article.title }} {{ article.subtitle }} // {% endblock %}

{% block headermodifier %}page-header--article{% endblock %}

{% block body %}
    <article role="main" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="title-bar title-bar--article">
            <h1 class="title-bar__title" itemprop="name">{{ article.title }}</h1>
            {% if article.subtitle %}
                <h2 class="title-bar__subtitle" itemprop="headline">{{ article.subtitle }}</h2>
            {% endif %}
        </header>

        <div class="article-image">
            <div class="article-image__positioner">
                <img src="{{ article.image_main }}" alt="" class="article-image__image" itemprop="image" />
            </div>
        </div>


        <section class="article-body content">
            <div itemprop="articleBody">
                {{ markdown(article.body)|safe }}
            </div>

            <aside class="article-related">
                <p>
                    <img src="/static/images/arrow-left.png" alt="" class="article-related__back" />
                    <a href="{{ url_for('article_list') }}">Back to all articles</a>
                </p>
            </aside>

        </section>

    </article>
{% endblock %}

{% block footermodifier %}page-footer--article{% endblock %}
