{% extends "base.html" %}

{% block title %}{{ article.title }} {{ article.subtitle }} // {% endblock %}

{% block headermodifier %}page-header--article{% endblock %}

{% block body %}
    <article role="main">

        {{ includes.title_bar(article.title,
                subtitle=article.subtitle,
                modifier='article') }}

        <div class="article-image">
            <div class="article-image__positioner">
                <img src="{{ article.image_main }}" alt="" class="article-image__image" />
            </div>
        </div>


        <section class="article-body content">
            {{ markdown(article.body)|safe }}

            <aside class="article-related">
                <p>
                    <img src="/static/images/arrow-left.png" alt="" class="article-related__back" />
                    <a href="{{ url_for('article_list') }}">Back to all articles</a>
                </p>
            </aside>

        </section>

    </article>
{% endblock %}

{% block footermodifier %}page-footer--article{% endblock %}
