{% extends "base.html" %}

{% block title %}{{ article.title }} {{ article.subtitle }} // {% endblock %}

{% block headermodifier %}page-header--article{% endblock %}

{% block body %}
    <article role="main">

        {{ includes.title_bar(article.title,
                subtitle=article.subtitle,
                modifier='article') }}

        <div class="article-image">
            <div class="article-image__positioner">
                <img src="{{ article.image_main }}" alt="" class="article-image__image" />
            </div>
        </div>


        <section class="article-body content">
            {{ markdown(article.body)|safe }}

            <!-- <aside class="article-related">
                <p>
                    Related articles:
                    <a href="#0">Rittenhouse 21-year Rye</a>,
                    <a href="#0">Rittenhouse Bottled-in-Bond Rye</a>
                </p>
            </aside> -->

        </section>

    </article>
{% endblock %}

{% block footermodifier %}page-footer--article{% endblock %}
