{% extends "base.html" %}

{% block headermodifier %}page-header--home{% endblock %}

{% block body %}
    <section role="main">

        {% for post in posts %}
            {% if loop.first %}
                {{ includes.title_bar(post.title,
                      subtitle=post.subtitle,
                      url=url_for('view_review', review_name=post.url) if post.type == 'review' else url_for('view_article', article_name=post.url),
                      modifier='main',
                      prefix='Latest thing:') }}
                <div class="home-image">
                    <img src="{{ post.image_main }}" alt="" class="home-image__image" />
                </div>
            {% endif %}
        {% endfor %}

        <div class="content">
            <div class="page-bound">
                <h4 class="home-more-title">More things:</h4>
                <ul class="post-list margin-large">
                    {% for post in posts %}
                        {% if not loop.first %}
                            {{ includes.post_list_item(post.title,
                                  subtitle=post.subtitle,
                                  description=post.abstract,
                                  category='Review' if post.type == 'review' else 'Article',
                                  image=post.image_list,
                                  url=url_for('view_review', review_name=post.url) if post.type == 'review' else url_for('view_article', article_name=post.url)) }}
                        {% endif %}
                    {% endfor %}
                </ul>

                <div class="home-actions grid">
                    <div class="home-actions__item grid__unit grid__unit--1-2-s">
                        <a href="{{ url_for('review_list') }}" class="button button--highlight home-actions__action">All reviews</a>
                    </div>
                    <div class="home-actions__item grid__unit grid__unit--1-2-s">
                        <a href="{{ url_for('article_list') }}" class="button home-actions__action">All articles</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
