{% extends "base.html" %}

{% block headermodifier %}page-header--home{% endblock %}

{% block body %}
    <section role="main">

        {% for post in posts %}
            {% if loop.first %}
                {{ includes.title_bar(post.title,
                      subtitle=post.subtitle,
                      url=url_for('view_review', review_name=post.url) if post.type == 'review' else url_for('view_article', article_name=post.url),
                      modifier='main',
                      prefix='Latest thing:') }}
                <div class="home-image">
                    {% if post.image_home %}
                        <img src="{{ post.image_home }}" alt="" class="home-image__image" />
                    {% elif post.image_main %}
                        <img src="{{ post.image_main }}" alt="" class="home-image__image" />
                    {% else %}
                        <img src="{{ post.image_list }}" alt="" class="home-image__image" />
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <div class="content">
            <h4 class="home-more-title">More things:</h4>
            <ul class="post-list home-posts grid" itemscope itemtype="https://schema.org/ItemList">
                {% for post in posts %}
                    {% if not loop.first %}
                        {% if post.type == 'review' %}
                            {{ includes.review_list_item(post.title,
                                  subtitle=post.subtitle,
                                  description=post.abstract,
                                  category='Review',
                                  image=post.image_list,
                                  url=url_for('view_review', review_name=post.url),
                                  class='grid__unit grid__unit--1-3-w') }}
                        {% else %}
                            {{ includes.post_list_item(post.title,
                                  subtitle=post.subtitle,
                                  description=post.abstract,
                                  category='Article',
                                  image=post.image_list,
                                  url=url_for('view_article', article_name=post.url),
                                  class='grid__unit grid__unit--1-3-w') }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="page-bound">
                <div class="home-actions grid">
                    <div class="home-actions__item grid__unit grid__unit--1-2-s">
                        <a href="{{ url_for('review_list') }}" class="button button--highlight home-actions__action">All reviews</a>
                    </div>
                    <div class="home-actions__item grid__unit grid__unit--1-2-s">
                        <a href="{{ url_for('article_list') }}" class="button home-actions__action">All articles</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
