{% extends "base.html" %}

{% block title %}Log in // {% endblock %}

{% block body %}
    <section role="main">

        {{ includes.title_bar("Log in", modifier='admin') }}

        <div class="content">
            <div class="page-bound">
                <form action="{{ url_for('login') }}" method="POST">
                    <label class="form-label">
                        <span class="form-label__text">Name</span>
                        <input type="text" name="user" tabindex="1" />
                    </label>
                    <label class="form-label">
                        <span class="form-label__text">Password</span>
                        <input type="password" name="password" tabindex="1" />
                    </label>

                    <button class="button admin-write__bottom-save" type="submit" tabindex="1">Go</button>
                </form>
            </div>
        </div>

    </section>
{% endblock %}
