{% extends "base.html" %}

{% block title %}{{ review.title }} {{ review.subtitle }} // {% endblock %}

{% block headermodifier %}page-header--article{% endblock %}

{% block body %}
    <article role="main">

        <header class="title-bar title-bar--review">
            <h1 class="title-bar__title">{{ review.title }}</h1>
            {% if review.subtitle %}
                <h2 class="title-bar__subtitle">{{ review.subtitle }}</h2>
            {% endif %}

            <button type="button" class="title-bar__data__toggle" data-toggle-target=".title-bar__data, .article-image, .article-color">
                <img src="/static/images/icon-plus.png" alt="Toggle details" />
                Details
            </button>

            <ul class="title-bar__data grid">
                <li class="title-bar__datum grid__unit grid__unit--1-2-s grid__unit--1-3-m">
                    {% if review.distiller %}
                        <span class="title-bar__datum__prop">Distilled by</span>
                        <span class="title-bar__datum__value">{{ review.distiller.name }}</span>
                    {% else %}
                        <span class="title-bar__datum__prop">Unknown distiller</span>
                    {% endif %}
                </li>
                <li class="title-bar__datum grid__unit grid__unit--1-2-s grid__unit--1-3-m">
                    {% if review.proof_low %}
                        {% if review.proof_high %}
                            <span class="title-bar__datum__value">{{ format_proof(review.proof_low) }} &ndash; {{ format_proof(review.proof_high) }}</span>
                        {% else %}
                            <span class="title-bar__datum__value">{{ format_proof(review.proof_low) }}</span>
                        {% endif %}
                        <span class="title-bar__datum__prop">proof</span>
                    {% else %}
                        <span class="title-bar__datum__prop">Unknown proof</span>
                    {% endif %}
                </li>
                <li class="title-bar__datum grid__unit grid__unit--1-2-s grid__unit--1-3-m">
                    {% if review.price_low %}
                        {% if review.price_high %}
                            <span class="title-bar__datum__value">{{ format_price(review.price_low) }} &ndash; {{ format_price(review.price_high) }}</span>
                        {% else %}
                            <span class="title-bar__datum__value">{{ format_price(review.price_low) }}</span>
                        {% endif %}
                        <span class="title-bar__datum__prop">retail price</span>
                    {% else %}
                        <span class="title-bar__datum__prop">Unknown retail price</span>
                    {% endif %}
                </li>
                <li class="title-bar__datum grid__unit grid__unit--1-2-s grid__unit--1-3-m">
                    {% if review.drink_type %}
                        <span class="title-bar__datum__prop">Type:</span>
                        <span class="title-bar__datum__value">{{ drink_types[review.drink_type].name }}</span>
                    {% else %}
                        <span class="title-bar__datum__prop">Unknown type</span>
                    {% endif %}
                </li>
                <li class="title-bar__datum grid__unit grid__unit--1-2-s grid__unit--1-3-m">
                    {% if review.age_low > 0 %}
                        {% if review.age_high %}
                            <span class="title-bar__datum__value">{{ format_age_range(review.age_low, review.age_high) }}</span>
                        {% else %}
                            <span class="title-bar__datum__value">{{ format_age(review.age_low) }}</span>
                        {% endif %}
                        <span class="title-bar__datum__prop">old</span>
                    {% elif review.age_low %}
                        <span class="title-bar__datum__prop">No age statement</span>
                    {% else %}
                        <span class="title-bar__datum__prop">Unknown age</span>
                    {% endif %}
                </li>
                <li class="title-bar__datum grid__unit grid__unit--1-2-s grid__unit--1-3-m">
                    {% if review.rarity %}
                        <span class="title-bar__datum__prop">Rarity:</span>
                        <span class="title-bar__datum__value">{{ rarities[review.rarity].name }}</span>
                    {% else %}
                        <span class="title-bar__datum__prop">Unknown rarity</span>
                    {% endif %}
                </li>
                <li class="title-bar__datum title-bar__datum--long grid__unit">
                    {% if review.mashbill or review.mashbill_description %}
                        <span class="title-bar__datum__prop">Mashbill:</span>
                        {% if review.mashbill_description %}
                            <span class="title-bar__datum__value">{{ review.mashbill_description }}</span>
                        {% endif %}
                        {% if review.mashbill %}
                            {% if review.mashbill_description %}
                                <span class="title-bar__datum__prop">({{ review.mashbill }})</span>
                            {% else %}
                                <span class="title-bar__datum__prop">{{ review.mashbill }}</span>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <span class="title-bar__datum__prop">Unknown mashbill</span>
                    {% endif %}
                </li>
            </ul>
        </header><!-- .review__title-bar -->

        <div class="color-bar article-color" title="Whiskey color">
            <span class="color-bar__marker" style="left: {{ review.color }}%"></span>
        </div>

        <div class="article-image">
            <div class="article-image__positioner">
                <img src="{{ review.image_main }}" alt="" class="article-image__image" />
            </div>
        </div>

        <section class="article-body content">

            <p class="article-date">Written {{ review.date_posted|date }}</p>

            {{ markdown(review.body)|safe }}

            <aside class="article-related">
                {% if review.related_reviews.all() %}
                    <p>
                        Related reviews:
                        {% for rel in review.related_reviews %}
                            <a href="{{ url_for('view_review', review_name=rel.url) }}">{{ rel.title }} {{ rel.subtitle }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
                <p>
                    <img src="/static/images/arrow-left.png" alt="" class="article-related__back" />
                    <a href="{{ url_for('review_list') }}">Back to all reviews</a>
                </p>
            </aside>

            <p class="article-reference">
                <a href="{{ url_for('view_article', article_name='ethics') }}">Review ethics</a>
            </p>

        </section>

    </article>
{% endblock %}

{% block footermodifier %}page-footer--article{% endblock %}
