{% extends "base.html" %}

{% block title %}Reviews //{% endblock %}

{% block body %}
    <section role="main">

        <header class="title-bar title-bar--search">
            <h1 class="title-bar__title">Reviews</h1>

            <div class="title-bar__related">
                <a href="ethics.htm" class="title-bar__related__item">Review ethics</a>
                <a href="ratings.htm" class="title-bar__related__item">Rating scale</a>
                <a href="glossary.htm" class="title-bar__related__item">Lingo</a>
            </div>
        </header>

        <div class="search-current-filters">
            {#
            {% if filters %}
                <p>
                    Showing
                    {% if filters['type'] %}
                        <a href="{{ modify_query(type=None) }}" class="search-current-filters__close">{{ filters['type'][1] }}s</a>.
                    {% endif %}
                    You can <a href="{{ request.path }}" class="search-current-filters__close">remove all these filters</a> if you'd like.</p>
                </p>
            {% else %}
                <p>Showing all reviews. Filters to be implemented</p>
            {% endif %}
            #}
        </div>

        <div class="search-layout">
            <button type="button" class="search-refine__toggle" data-toggle-target="next">Refine <img src="/static/images/arrow-right.png" alt="" class="search-refine__toggle__arrow" /></button>
            <div class="search-refine">
                <div class="grid">
                    <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                        <h3 class="search-refine__facet__title">Type</h3>
                        <ul class="search-refine__facet__list">
                            {% for key, vals in drink_types.items()|sort(attribute='0') %}
                                <li class="search-refine__facet__item">
                                    <a href="{{ modify_query(type=key) }}">{{ vals['name'] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                        <h3 class="search-refine__facet__title">Age</h3>
                        <ul class="search-refine__facet__list">
                            <li class="search-refine__facet__item"><a href="#0">Unknown / no age statement</a></li>
                            <li class="search-refine__facet__item"><a href="#0">Under 2 years</a></li>
                            <li class="search-refine__facet__item"><a href="#0">2 &ndash; 4 years</a></li>
                            <li class="search-refine__facet__item"><a href="#0">5 &ndash; 10 years</a></li>
                            <li class="search-refine__facet__item"><a href="#0">10 &ndash; 15 years</a></li>
                            <li class="search-refine__facet__item is-current">Over 15 years</li>
                        </ul>
                    </div>
                    <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                        <h3 class="search-refine__facet__title">Distiller</h3>
                        <ul class="search-refine__facet__list">
                            <li class="search-refine__facet__item"><a href="#0">American craft distilleries</a></li>
                            <li class="search-refine__facet__item"><a href="#0">Bernheim (new)</a></li>
                            <li class="search-refine__facet__item"><a href="#0">Bernheim (old)</a></li>
                            <li class="search-refine__facet__item"><a href="#0">Brown-Forman</a></li>
                            <li class="search-refine__facet__item is-current">Buffalo Trace / Sazerac</li>
                            <li class="search-refine__facet__item"><a href="#0">Four Roses</a></li>
                            <li class="search-refine__facet__item"><a href="#0">Heaven Hill</a></li>
                            <li class="search-refine__facet__item"><a href="#0">Stitzel-Weller</a></li>
                            <li class="search-refine__facet__item"><a href="#0">Unknown/NDP</a></li>
                            <li class="search-refine__facet__item"><a href="#0">Other</a></li>
                        </ul>
                    </div>
                    <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                        <h3 class="search-refine__facet__title">Proof</h3>
                        <ul class="search-refine__facet__list">
                            <li class="search-refine__facet__item"><a href="#0">80</a></li>
                            <li class="search-refine__facet__item"><a href="#0">81 &ndash; 90</a></li>
                            <li class="search-refine__facet__item"><a href="#0">90 &ndash; 100</a></li>
                            <li class="search-refine__facet__item is-current">Over 100</li>
                        </ul>
                    </div>
                    <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                        <h3 class="search-refine__facet__title">Price (MSRP)</h3>
                        <ul class="search-refine__facet__list">
                            <li class="search-refine__facet__item"><a href="#0">Under $25</a></li>
                            <li class="search-refine__facet__item is-current">$25 &ndash; $40</li>
                            <li class="search-refine__facet__item"><a href="#0">$41 &ndash; $75</a></li>
                            <li class="search-refine__facet__item"><a href="#0">$76 &ndash; $150</a></li>
                            <li class="search-refine__facet__item"><a href="#0">Over $150</a></li>
                        </ul>
                    </div>
                    <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                        <h3 class="search-refine__facet__title">Rarity</h3>
                        <ul class="search-refine__facet__list">
                            {% for key, vals in rarities.items()|sort(attribute='1.value') %}
                                <li class="search-refine__facet__item">
                                    <a href="{{ modify_query(rarity=key) }}">{{ vals['name'] }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>


            <div class="search-content content">

                <div class="page-bound">
                    <ul class="post-list">
                        {% for review in reviews %}
                            {{ includes.post_list_item(review.title,
                                    subtitle=review.subtitle,
                                    description=review.abstract,
                                    image=review.image_list,
                                    url=url_for('view_review', review_name=review.url)) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div><!-- .search-layout -->

    </section>
{% endblock %}
