{% extends "base.html" %}

{% block title %}Reviews // {% endblock %}

{% block body %}
    <section role="main">

        <header class="title-bar title-bar--search">
            <h1 class="title-bar__title">Reviews</h1>

            <div class="title-bar__related">
                <a href="{{ url_for('view_article', article_name='ethics') }}" class="title-bar__related__item">Review ethics</a>
                <a href="{{ url_for('view_article', article_name='glossary') }}" class="title-bar__related__item">Lingo</a>
            </div>
        </header>

        <div id="search-area">

            {% if request.args %}
                <div class="search-current-filters">
                    <p>
                        Showing
                        {% if adjectives == 0 and not request.args['rarity'] %}
                            all
                        {% endif %}
                        {% if request.args['rarity'] and rarities[request.args['rarity']] %}
                            <a href="{{ modify_query(rarity=None) }}" class="search-current-filters__close">{{ rarities[request.args['rarity']].filter_name }}</a>
                        {% endif %}
                        {% if request.args['type'] and drink_types[request.args['type']] %}
                            <a href="{{ modify_query(type=None) }}" class="search-current-filters__close">{{ drink_types[request.args['type']].filter_name }}</a>
                        {% else %}
                            whiskies
                        {% endif %}

                        {% if request.args['age_low'] and request.args['age_high'] %}
                            between
                        {% endif %}
                        {% if request.args['age_low'] %}
                            {% if not request.args['age_high'] %}
                                at least
                            {% endif %}
                            <a href="{{ modify_query(age_low=None) }}" class="search-current-filters__close">
                                {% if request.args['age_low'] == '-1' %}
                                    of an unknown age
                                {% elif request.args['age_low'] == '1' %}
                                    1 year {% if not request.args['age_high'] %}of age{% endif %}
                                {% else %}
                                    {{ request.args['age_low'] }} years {% if not request.args['age_high'] %}of age{% endif %}
                                {% endif %}
                            </a>{% if not request.args['age_high'] and adjectives > 2 %},{% endif %}
                        {% endif %}
                        {% if request.args['age_high'] %}
                            {% if request.args['age_low'] %}
                                and
                            {% else %}
                                at most
                            {% endif %}
                            <a href="{{ modify_query(age_high=None) }}" class="search-current-filters__close">
                                {% if request.args['age_high'] == '30' %}
                                    infinitely old
                                {% elif request.args['age_high'] == '1' %}
                                    1 year of age
                                {% else %}
                                    {{ request.args['age_high'] }} years of age
                                {% endif %}
                            </a>{% if adjectives > 2 %},{% endif %}
                        {% endif %}

                        {% if request.args['origin'] %}
                            {% if adjectives > 1 and last_adjective == 'origin' %}
                                and
                            {% endif %}
                            distilled in
                            <a href="{{ modify_query(origin=None) }}" class="search-current-filters__close">{{ this_origin.filter_name }}</a>{% if adjectives > 2 and last_adjective != 'origin' %},{% endif %}
                        {% endif %}

                        {% if adjectives > 1 and last_adjective == 'proof' %}
                            and
                        {% endif %}
                        {% if request.args['proof_low'] and request.args['proof_high'] %}
                            bottled between
                        {% elif request.args['proof_low'] or request.args['proof_high'] %}
                            bottled at
                        {% endif %}
                        {% if request.args['proof_low'] %}
                            {% if not request.args['proof_high'] %}
                                at least
                            {% endif %}
                            <a href="{{ modify_query(proof_low=None) }}" class="search-current-filters__close">
                                {{ request.args['proof_low'] }}
                                {% if not request.args['proof_high'] %}
                                    proof
                                {% endif %}
                            </a>{% if not request.args['proof_high'] and adjectives > 2 and last_adjective != 'proof' %},{% endif %}
                        {% endif %}
                        {% if request.args['proof_high'] %}
                            {% if request.args['proof_low'] %}
                                and
                            {% else %}
                                at most
                            {% endif %}
                            <a href="{{ modify_query(proof_high=None) }}" class="search-current-filters__close">
                                {{ request.args['proof_high'] }} proof
                            </a>{% if adjectives > 2 and last_adjective != 'proof' %},{% endif %}
                        {% endif %}

                        {% if adjectives > 1 and last_adjective == 'price' %}
                            and
                        {% endif %}
                        {% if request.args['price_low'] %}
                            {% if request.args['price_high'] %}
                                priced between
                            {% else %}
                                sold for at least
                            {% endif %}
                            <a href="{{ modify_query(price_low=None) }}" class="search-current-filters__close">
                                ${{ request.args['price_low'] }}
                            </a>
                        {% endif %}
                        {% if request.args['price_high'] %}
                            {% if request.args['price_low'] %}
                                and
                            {% else %}
                                sold for at most
                            {% endif %}
                            <a href="{{ modify_query(price_high=None) }}" class="search-current-filters__close">
                                {% if request.args['price_high'] == '200' %}
                                    all the money
                                {% else %}
                                    ${{ request.args['price_high'] }}
                                {% endif %}
                            </a>
                        {% endif %}

                        <span class="search-current-filters__nudge">.</span>

                        {% if request.args['sort'] and review_sorts[request.args['sort']] %}
                            They're sorted by
                            <a href="{{ modify_query(sort=None) }}" class="search-current-filters__close">{{ review_sorts[request.args['sort']].filter_name }}</a>.
                        {% endif %}
                        You can <a href="{{ request.path }}" class="search-current-filters__close">remove these filters</a> if you'd like</p>
                    </p>
                </div>
            {% else %}
                <p class="search-current-filters__none">
                    Showing all whiskies. You can filter this list below
                </p>
            {% endif %}

            <div class="search-layout">
                <button type="button" class="search-refine__toggle" data-toggle-target="next">Refine <img src="/static/images/arrow-right.png" alt="" class="search-refine__toggle__arrow" /></button>
                <div class="search-refine">
                    <div class="grid grid--compact">
                        <div class="search-refine__facet grid__unit">
                            <h3 class="search-refine__facet__title">Sort by</h3>
                            <ul class="search-refine__facet__list">
                                {% for key, vals in review_sorts.items()|sort(attribute='0') %}
                                    {% if request.args['sort'] == key %}
                                        <li class="search-refine__facet__item is-current">
                                            {{ vals['name'] }}
                                        </li>
                                    {% else %}
                                        <li class="search-refine__facet__item">
                                            <a href="{{ modify_query(sort=key) }}">{{ vals['name'] }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                            <h3 class="search-refine__facet__title">Type</h3>
                            <ul class="search-refine__facet__list">
                                {% for key, vals in drink_types.items()|sort(attribute='0') %}
                                    {% if request.args['type'] == key %}
                                        <li class="search-refine__facet__item is-current">
                                            {{ vals['name'] }}
                                        </li>
                                    {% else %}
                                        <li class="search-refine__facet__item">
                                            <a href="{{ modify_query(type=key) }}">{{ vals['name'] }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                            <h3 class="search-refine__facet__title">Rarity</h3>
                            <ul class="search-refine__facet__list">
                                {% for key, vals in rarities.items()|sort(attribute='1.value') %}
                                    {% if request.args['rarity'] == key %}
                                        <li class="search-refine__facet__item is-current">
                                            {{ vals['name'] }}
                                        </li>
                                    {% else %}
                                        <li class="search-refine__facet__item">
                                            <a href="{{ modify_query(rarity=key) }}">{{ vals['name'] }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                            <h3 class="search-refine__facet__title">Age</h3>
                            <form action="{{ request.path }}" method="GET">
                                <label class="form-label">
                                    <span class="form-label__text">Minimum: <span data-from-input="age-low"></span></span>
                                    <input type="range" name="age_low" id="age-low" min="-1" max="30" step="1" value="{{ request.args['age_low']|default(-1) }}" data-value-suffix="years" data-min-description="unknown" data-constrain-high="age-high" />
                                </label>
                                <label class="form-label">
                                    <span class="form-label__text">Maximum: <span data-from-input="age-high"></span></span>
                                    <input type="range" name="age_high" id="age-high" min="-1" max="30" step="1" value="{{ request.args['age_high']|default(30) }}" data-value-suffix="years" data-max-description="infinity" data-constrain-low="age-low" />
                                </label>
                            </form>
                        </div>
                        <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                            <h3 class="search-refine__facet__title">Distilled in</h3>
                            <ul class="search-refine__facet__list">
                                {% for origin in origins|sort(attribute='name') %}
                                    {% if request.args['origin'] == origin.id|string %}
                                        <li class="search-refine__facet__item is-current">
                                            {{ origin.name }}
                                        </li>
                                    {% else %}
                                        <li class="search-refine__facet__item">
                                            <a href="{{ modify_query(origin=origin.id) }}">{{ origin.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                            <h3 class="search-refine__facet__title">Proof</h3>
                            <form action="{{ request.path }}" method="GET">
                                <label class="form-label">
                                    <span class="form-label__text">Minimum: <span data-from-input="proof-low"></span></span>
                                    <input type="range" name="proof_low" id="proof-low" min="80" max="180" step="1" value="{{ request.args['proof_low']|default(80) }}" data-constrain-high="proof-high" />
                                </label>
                                <label class="form-label">
                                    <span class="form-label__text">Maximum: <span data-from-input="proof-high"></span></span>
                                    <input type="range" name="proof_high" id="proof-high" min="80" max="180" step="1" value="{{ request.args['proof_high']|default(180) }}" data-constrain-low="proof-low" />
                                </label>
                            </form>
                        </div>
                        <div class="search-refine__facet grid__unit grid__unit--1-2-s grid__unit--1-3-m grid__unit--1-1-l">
                            <h3 class="search-refine__facet__title">Price (MSRP)</h3>
                            <form action="{{ request.path }}" method="GET">
                                <label class="form-label">
                                    <span class="form-label__text">Minimum: $<span data-from-input="price-low"></span></span>
                                    <input type="range" name="price_low" id="price-low" min="0" max="200" step="5" value="{{ request.args['price_low']|default(0) }}" data-constrain-high="price-high" />
                                </label>
                                <label class="form-label">
                                    <span class="form-label__text">Maximum: $<span data-from-input="price-high"></span></span>
                                    <input type="range" name="price_high" id="price-high" min="0" max="200" step="5" value="{{ request.args['price_high']|default(200) }}" data-max-description="yes" data-constrain-low="price-low" />
                                </label>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="search-content content">

                    <div class="page-bound">
                        {% if reviews %}
                            <ul class="post-list">
                                {% for review in reviews %}
                                    {{ includes.post_list_item(review.title,
                                            subtitle=review.subtitle,
                                            description=review.abstract,
                                            image=review.image_list,
                                            url=url_for('view_review', review_name=review.url)) }}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="post-list-empty">No reviews matched these criteria. {{ no_reviews_message }}</p>
                        {% endif %}
                    </div>
                </div>
            </div><!-- .search-layout -->
        </div><!-- #search-area -->

    </section>
{% endblock %}
